<div class="cart-recipes-container">
  <div class="page-name">
    <p>Add to Cookbook</p>
  </div>
  <% @user_recipes.each do |user_recipe| %>
    <div data-controller="card-actions" class="cart-recipe">
      <%= link_to "/recipes/#{user_recipe.recipe.id}", class: "cart-link" do %>
        <%= cl_image_tag user_recipe.recipe.photo.key, class: "cart-recipe-img" %>
      <% end %>
      <%= link_to "/recipes/#{user_recipe.recipe.id}", class: "cart-link" do %>
        <div class="cart-info">
          <p class="cart-recipe-name"><%= user_recipe.recipe.name %></p>
        </div>
      <% end %>
      <div class="cart-controls">
        <%= render "shared/buttons/check", user_recipe: user_recipe %>
        <%= render "shared/buttons/cross",
                   link: user_recipe_path(user_recipe),
                   data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
</div>
