<div class="cart-recipes-container">
  <% @user_recipes.each do |user_recipe| %>
      <div class="cart-recipe">
        <%=link_to "/recipes/#{user_recipe.recipe.id}", class:"cart-link"  do%>
          <%= cl_image_tag user_recipe.recipe.photo.key,
                           :cloud_name => "dxpqczcfs", class: "cart-recipe-img" %>
        <% end %>
          <div class="cart-info">
            <p class="cart-recipe-name"><%= user_recipe.recipe.name %></p>
            <div class="cart-controls">
              <%=render "shared/buttons/check", user_recipe: user_recipe%>
              <%=render "shared/buttons/cross",
                        link: user_recipe_path(user_recipe),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
            </div>
          </div>
      </div>
      <% end %>
</div>
