<div class="cart-recipes-container">
  <% @user_recipes.each do |recipe| %>
    <%=link_to "/recipes/#{recipe.id}", class:"cart-link"  do%>
      <div class="cart-recipe">
        <%= cl_image_tag recipe.recipe.photo.key,
                         :cloud_name => "dxpqczcfs", class: "cart-recipe-img" %>
          <div class="cart-info">
            <p class="cart-recipe-name"><%= recipe.recipe.name %></p>
            <div class="cart-controls">
              <%=render "shared/buttons/check", link:"/"%>
              <%=render "shared/buttons/cross", link:"/"%>
            </div>
          </div>
      </div>
      <% end %>
  <% end %>
</div>