<div class="cart-recipes-container">
  <% @user_recipes.each do |recipe| %>
    <%=link_to "/recipes/#{recipe.id}", class:"cart-link"  do%>
      <div class="cart-recipe">
        <%= cl_image_tag recipe.recipe.photo.key,
                         :cloud_name => "dxpqczcfs", class: "cart-recipe-img" %>
          <div class="cart-info">
            <p class="cart-recipe-name"><%= recipe.recipe.name %></p>
            <div class="cart-controls">
              <%= simple_form_for recipe do |f| %>
                <%= f.input :saved, as: :hidden, input_html: { value: "true" } %>
                <%= f.submit "Accept", class: "btn btn-info" %>
              <% end %>
              <%= link_to "Delete", user_recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
      </div>
      <% end %>
    <% end %>
</div>
