<div class="standard-container">
  <div class="page-name">
    <p>Add to Cookbook</p>
  </div>
  <% @user_recipes.order(created_at: :asc).each do |user_recipe| %>
    <div data-controller="card-actions" class="cart-recipe">
      <div>
        <%= link_to "/recipes/#{user_recipe.recipe.id}", class: "cart-link" do %>
          <%= cl_image_tag user_recipe.recipe.photo.key, class: "cart-recipe-img" %>
        <% end %>
      </div>
      <div class="w-100 d-flex flex-column justify-content-between py-2">
        <%= link_to "/recipes/#{user_recipe.recipe.id}", class: "cart-link" do %>
          <div class="cart-info">
            <p class="cart-recipe-name"><%= user_recipe.recipe.name %></p>
          </div>
        <% end %>
        <div class="health-container">
          <% user_recipe.recipe.health.split("\"").join[1..-2].split(", ")[0..3].each do |health_label| %>
            <p class="health"><%= health_label %></p>
          <% end %>
        </div>
        <div class="cart-controls">
          <% if user_recipe.saved %>
            <%# This shows up when you saved something LEO %>
            <div class="saved">
              <span>Added to Cookbook</span>
            </div>
          <% else %>
            <%= render "shared/buttons/check", user_recipe: user_recipe %>

            <%= render "shared/buttons/cross",
                       link: user_recipe_path(user_recipe),
                       data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @user_recipes.all.count == 0 %>
    <div class="d-flex mt-3">
      <%= render "shared/buttons/active_green", link: cookbook_path,
                 text: "Access your Cookbook", class: "flex-grow-1" %>
    </div>
  <% end %>
</div>
