<div class="standard-container recipe-container white">
  <div class="flex-container">
    <div class="recipe-img-container d-flex justify-content-center">
      <%= cl_image_tag @recipe.photo.key, class: "recipe-img" %>
      <div class="back-link">
        <%= link_to "javascript:history.back()" do %>
          <i class="fa-solid fa-angles-left"></i>
        <% end %>
      </div>
    </div>
    <div class="recipe-info">
      <h1 class="recipe-name"><%= @recipe.name %></h1>
      <div class="recipe-categories">
        <p>
          <span><i class="fa-solid fa-clock"></i></span>
          <%= "#{@recipe.cooking_time} mins" %>
        </p>
        <p>
          <span><i class="fa-solid fa-fire"></i></span>
          <%= "#{@recipe.calories.to_i/@recipe.yield} cal/portion" %>
        </p>
        <p>
          <span><i class="fa-solid fa-bowl-rice"></i></span>
          <%= "#{@recipe.yield} portions" %>
        </p>
      </div>
      <div class="ingredients">
        <div class="ingredients-title d-flex justify-content-between pt-1">
          <h2>Ingredients</h2>
          <%= render "shared/buttons/add_recipe_button" if params[:showbutton] == "show" %>
        </div>
        <div class="ingredients-list">
          <ul>
            <% @recipe.ingredients.each do |ingredient| %>
              <li>
                <% ingredient_mod = ingredient.food.name.split %>
                <% ingredient_mod.map do |word| %>
                  <% word.capitalize! %>
                <% end %>
                <% ingredient_mod = ingredient_mod.join(" ") %>

                <span class="ingredient"><%= ingredient_mod %></span>
                <span><%= ingredient.quantity.truncate(1) %></span>
                <% if ingredient.measure != "<unit>" %>
                  <span><%= ingredient.measure %>s</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="recipe-source">
      <%= render "shared/buttons/active_green",
                 link: @recipe.url, text: Recipe %>
    </div>
  </div>
</div>
