<div class="recipe-container">
  <div class="flex-container">
    <div class="recipe-img-container">
      <%= cl_image_tag @recipe.photo.key, class: "recipe-img" %>
    </div>
    <div class="recipe-info">
      <h1 class="recipe-name"><%= @recipe.name %></h1>
      <p><%= "#{@recipe.cooking_time} min." %></p>
      <p><%= "#{@recipe.calories.to_i} cal." %></p>
      <p><%= "#{@recipe.yield} yield" %></p>
      <div class="ingredients">
        <h2>Ingredients</h2>
        <div class="ingredients-list">
          <ul>
            <% @recipe.ingredients.each do |ingredient| %>
              <li>
                <% ingredient_mod = ingredient.food.name.split %>
                <% ingredient_mod.map do |word| %>
                  <% word.capitalize! %>
                <% end %>
                <% ingredient_mod = ingredient_mod.join(" ") %>

                <span class="ingredient"><%= ingredient_mod %></span>
                <span><%= ingredient.quantity %></span>
                <% if ingredient.measure != "<unit>" %>
                   <span><%= ingredient.measure %>s</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <%# <%= link_to "Back", recipes_path(recipe: params[:id]) if params[:back] == "index"%>
      <%= link_to "Back", "javascript:history.back()" %>
      <div class="recipe-source">
        <%= link_to "Recipe", @recipe.url %>
      </div>
    </div>
    <%= render "shared/buttons/add_recipe_button" if params[:showbutton] == "show" %>
  </div>
</div>
