<div class="standard-container">
  <div class="home-logo home-grid-item">
    <%= image_tag "logo.png", class: "home-logo" %>
  </div>

  <div class="home-text d-flex justify-content-center">
    <p>Food for your Mood<i class="fa-solid fa-bowl-rice accent"></i></p>
  </div>


  <%= form_with url: recipes_path, method: :get do %>
    <% meal_type = ["breakfast", "lunch", "dinner", "snack"] %>
    <% index = 0 %>
    <fieldset class="form-group check_boxes optional snippet_tags home-inputs">
      <% meal_type.each do |type| %>
        <div class="tag-item">
          <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="<%= type %>" name="meal_type[]" id='snippet_tag_ids_<%= type %>'>
          <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_<%= type %>"><%= type %></label>
        </div>
      <% end %>
    </fieldset>


  <div class="home-slide">
      <input type="range" id="time" name="time" max="120" min="0" step="15">
      <p class="home-slide-labels">
        <span>0 min</span>
        <span>60 min</span>
        <span>120+ min</span>
      </p>
  </div>


    <div class="w-100 d-flex justify-content-center">
      <%= submit_tag "Let's Begin", class: "home-submit" %>
    </div>
  <% end %>


</div>
