<div class="standard-container">
  <div class="dish-container">
    <div class="dish" data-controller="card-actions">
      <%= link_to recipe_path(recipe) do %>
        <%= cl_image_tag image, class: "dish-image" %>
      <% end %>
      <div class="dish-description">
        <div class="dish-name">
          <%= link_to recipe.name, recipe_path(recipe) %>
        </div>
        <div class="dish-cuisine">
          <i class="fa-solid fa-earth-europe"> </i>
          <span>Cuisine: <%= cuisine.capitalize %></span>
        </div>
        <div class="dish-time">
          <i class="fa-solid fa-clock"> </i>
          <span>Cooking Time: <%= time %> mins</span>
        </div>
      </div>
      <div class="cart-button">
        <%= render "shared/buttons/cart", link: "/cart",
                   counter: UserRecipe.where(user: current_user, saved: false).count %>
      </div>
      <div class="d-flex justify-content-between px-2 mb-2">
        <div class="button active-red"
             data-action="click->swinger#choose" data-swinger-like-param="false">
          <span class="button-text">Don't like</span>
        </div>

        <div class="button-form" data-action="click->swinger#choose" data-swinger-like-param="true">
          <%= simple_form_for [recipe, @user_recipe], html: { data: { swinger_target: "form" } } do |f| %>
            <%= f.submit "Like", class: "like" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
