<div class="vertical">
  <div class="dish-container">
    <div class="dish">
      <%= cl_image_tag image,
                       :cloud_name => "dxpqczcfs", class:"dish-image"%>
      <div class="dish-description">
        <div class="dish-name">
          <span><%=name%></span>
        </div>
        <div class="dish-cuisine">
          <span><%=cuisine%></span>
        </div>
        <div class="dish-time">
          <span><%=time%> mins</span>
        </div>
      </div>
      <%=render "shared/buttons/active_red",
                link:"/", text:"Don't like", id:"nope" %>

      <%=render "shared/buttons/like_button",
                recipe: recipe, user_recipe: @user_recipe, id:"love" %>
    </div>
  </div>
</div>