<div class="vertical">
  <div class="dish-container">
    <div class="dish">
      <%= link_to recipe_path(recipe) do %>
        <%= cl_image_tag image, class: "dish-image" %>
      <% end %>
      <div class="dish-description">
        <div class="dish-name">
          <%= link_to recipe.name, recipe_path(recipe) %>
        </div>
        <div class="dish-cuisine">
          <i class="fa-solid fa-earth-europe"> </i>
          <span>Cuisine Type: <%= cuisine.capitalize %></span>
        </div>
        <div class="dish-time">
          <i class="fa-solid fa-clock"> </i>
          <span>Cooking Time: <%= time %> mins</span>
        </div>
      </div>
      <div class="cart-button">
        <%= render "shared/buttons/cart", link: "/cart", counter: UserRecipe.where(user: current_user, saved: false).count %>
      </div>
      <div class="d-flex justify-content-between px-2 mb-2">
        <%= render "shared/buttons/active_red",
                   link: "/", text: "Don't like", id: "nope" %>
        <%= render "shared/buttons/like_button",
                   recipe: recipe, user_recipe: @user_recipe, id: "love" %>
      </div>
    </div>
  </div>
</div>
