<div class="standard-container accordion">
  <div class="page-name">
    <p>Shopping List</p>
  </div>
  <div class="show-spacing content-bx">
    <% @recipes.each do |recipe_name, shopping_ingredients| %>
      <div data-controller="accordion">
        <div class="accordion-label" data-action="click->accordion#collapse">
          <p class="list-item-name d-flex ">
            <span class="pe-1"><i class="fa-solid fa-chevron-right pe-2 arrow" data-accordion-target="arrow"></i></span>
            <span><%= recipe_name %></span>
          </p>
        </div>
        <div class="accordion-content mb-3" data-accordion-target="content">
          <% shopping_ingredients.each do |shopping_ingredient| %>
            <div class="list-item accordion-content">
              <div class="d-flex align-items-center check-item ingredient-line">
                <%= form_for(shopping_ingredient, class: "form-control") do |f| %>
                  <%= f.check_box :bought, as: :boolean, onclick: "this.form.submit()", class: "list" %>
                <% end %>
                <span class="ms-3 mb-2 ll-text">
                  <%= shopping_ingredient.ingredient.food.name.capitalize %>:
                  <%= shopping_ingredient.ingredient.quantity.round(2) %>
                  <%= shopping_ingredient.ingredient.measure if shopping_ingredient.ingredient.measure != "<unit>" %>
                </span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "shared/buttons/archive", current_list: @list if current_user.current_shopping_list.shopping_ingredients[0] != nil %>
  <% if @list.shopping_ingredients.all.count == 0 %>
    <div class="no-info">
      <p class="text">No ingredients on your Shopping List yet.</p>
      <p class="text">Select one from your Cookbook to add it!</p>
    </div>
    <div class=" pt-3">
      <%= link_to "#{cookbook_path}", class: 'button-link' do %>
        <div class="archive-button archive-button-green d-flex justify-content-center">
          <span class="">To Cookbook</span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
