<div class="list-vertical">
  <% @list.shopping_recipes.each do |shopping_recipe| %>
    <div class="list-item">
      <p class="list-item-name"><%= shopping_recipe.recipe.name %></p>
      <ul class="list-list">
        <% shopping_recipe.recipe.ingredients.each do |ingredient| %>
          <li class="list-ingredient"><span><%= ingredient.food.name.capitalize %>:</span>
            <span><%= ingredient.quantity.round(2) %></span>
            <span><%= ingredient.measure if ingredient.measure != "<unit>"%></span>
          </li>
        <% end %>
      </ul>
      </div>
  <% end %>
  <%= render "shared/buttons/archive", current_list: @list%>

</div>
