<div class="list-vertical">
  <div class="page-name">
    <p>Shopping List</p>
  </div>

  <div class="show-spacing accordion">
    <% @recipes.each do |recipe_name, shopping_ingredients| %>
    <p><%= recipe_name %></p>
    <% shopping_ingredients.each do |shopping_ingredient| %>
      <div class="list-item content-bx">

              <div class="d-flex check-item">
                <%= form_for shopping_ingredient do |f| %>
                  <%= f.check_box :bought, as: :boolean, onclick: "this.form.submit()", class: "checkbox" %>
                <% end %>
                <span>
                  <%= shopping_ingredient.ingredient.food.name.capitalize %>:
                  <%= shopping_ingredient.ingredient.quantity.round(2) %>
                  <%= shopping_ingredient.ingredient.measure if shopping_ingredient.ingredient.measure != "<unit>" %>
                </span>
              </div>

      </div>
    <% end %>
    <% end %>
  </div>
  <%= render "shared/buttons/archive", current_list: @list if current_user.current_shopping_list.shopping_ingredients[0] != nil %>
  <%= link_to "Back to your Cookbook", cookbook_path if @list.shopping_ingredients.all.count == 0 %>
</div>
