<!DOCTYPE html>
<html lang="en" style="font-size: 16px">
  <head>
    <title>FOODMOOD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <script>0</script>
    <div class="main-container">
      <%= yield %>
      <%= render "shared/navbar" %>
    </div>
  </body>
</html>
